.cart-page{
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: auto;
    grid-template-areas: "cart-items cart-action";
    padding: 1rem;
}

.cart-items{
    grid-area: cart-items;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    margin-top: 2rem;
    /* margin-left: 1rem; */
    /* margin-right: 1rem; */

}
.cart-heading{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
}
.add-btn{
    border: 2px solid #00A1B6;
    background-color: none;
    color: #00A1B6;
    width: fit-content;
    padding: 5px 10px;
    border-radius: 5px;
}


.add-btn:hover{
    border: 2px solid #00899B;
    color: #00899B;
    cursor: pointer;
}
.cart-items-body{
    width: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    /* flex-direction: row; */
    flex-wrap: wrap;
    padding: 1.5rem;
}




.cart-action{
    grid-area: cart-action;
    background-color: #fff;
    box-shadow: 0px 1px 60px 5px #6B6B6B33;
    border-radius: 20px;
    padding: 2rem 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 2rem;
    height: fit-content;
}

.cart-action .order-summary{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

.cart-action .order-summary p{
    margin: 0 5px;
}

.order-details{
    font-size: 25px;
    font-weight: 500;
    margin: 10px 0px;
}

 .buy-btn{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #00A1B6;
    border: 1px solid #00A1B6;
    border-radius: 5px;
    color: #ffffff;
    padding: 0.5rem 1.3rem;
    text-transform: capitalize;
    margin: 10px 0px;
    }
 .buy-btn:hover{
        cursor: pointer;
        background-color: #00899B;
}
    
/* CART CARD CSS  */
.cart-card{
    width: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    width: 95%;
    border: 2px solid green;
    margin: 10px;
}
.cart-image{
width: 30%;
border: 2px solid red;
}
.cart-image img{
width: 100%;
}
.cart-details{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    border: 2px solid rgb(38, 0, 255);
}
.cart-details .item-name{
    color: #00899B;
}
.price{
    font-size: 25px;
    font-weight: 500;
}
.price span{
    font-size: 20px;
    font-weight: 400;
}
.buttons{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}
.delete-btn{
    background-color: #FFD7D7;
    color: #FF001F;
    padding: 5px  10px;
    border-radius: 5px;
    width: fit-content;
}
.delete-btn:hover{
    cursor: pointer;
    background-color: #FF001F;
    color: #fff;
}

.view-more-btn{
    background-color: #00A1B6;
    color: #fff;
    padding: 5px  10px;
    border-radius: 5px;
    width: fit-content;
}
.view-more-btn:hover{
    cursor: pointer;
    background-color: #00899B;
}

/* CART CARD CSS  */