@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;400&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

nav {
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #39596b;
  padding: 0 2rem;
}
.search_result {
  position: absolute;
  top: 90px;
  margin-left: auto;
  margin-right: auto;
  padding: 0.5rem 1rem;
  width: 40vw;
  height: fit-content;
  min-height: 20vh;
  background-color: #fff;
  z-index: 4;
  border-radius: 10px;
}

.searched_image {
  width: 40px;
  height: fit-content;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav-logo {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  background: none;
  color: rgb(255, 255, 255);
  font-size: 33px;
  font-weight: 400;
}
.nav-logo img {
  width: 30px;
}

nav .nav-searchBar {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  border: none;
  background-color: rgba(255, 255, 255, 0.145);
  padding: 5px 15px;
  color: white;
  border-radius: 30px;
}

input[type="search"] {
  outline: none;
}

nav .search-bar {
  border: none;
  background-color: rgba(255, 255, 255, 0);
  padding: 7px 15px;
  color: white;
  border-radius: 2px;
  font-family: "Montserrat", sans-serif;
}

nav .nav-searchBar:active {
  outline: none;
}

nav .search-bar::placeholder {
  color: rgba(255, 255, 255, 0.686);
}

nav .nav-menu {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}
nav .nav-menu .nav-menu-item {
  color: white;
  padding: 0px 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-decoration: none;
  font-size: 18px;
}
nav .nav-menu .nav-menu-item:hover {
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.125);
}
.nav-btns {
  display: none;
  color: #fff;
}


@media (max-width: 1000px) {
  .nav-btns {
    display: block;
  }
  .nav-menu {
    flex-direction: column;
    position: absolute;
    top: -100vh;
    transition: all 0s ease-in-out;
  }

  .nav-menu.expanded {
    background-color: #305062;
    flex-direction: column;
    position: absolute;
    top: 80px;
    left: 0%;
    width: 100%;
    min-height: 30vh;
    height: fit-content;
    z-index: 3;
    transition: all 0.3s ease-in-out;
  }
  nav .nav-menu .nav-menu-item {
    flex-direction: row;
    padding: 5px;
  }
  nav .nav-menu .nav-menu-item span {
    margin: 5px;
  }
  .search_result {
    width: 85vw;
    left: 7.5vw;
  }
}
@media (max-width: 700px) {
  .search_result {
    width: 95vw;
    left: 2.5vw;
  }

  nav {
    padding: 0 0.5rem;
  }

  .nav-logo img {
    width: 20px;
  }
  .nav-logo {
    font-size: 20px;
  }
  .nav-searchBar .search-bar {
    width: 150px;
  }
  nav .nav-searchBar {
    width: 150px;
    padding: 0;
  }
  .search-icon {
    display: none;
  }

}
