
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;400&display=swap');

.loginPage-left{
    margin-top: 8rem;
}
.loginPage-left .register-here{ 
    font-size: 20px;
    text-align: center;
}
.loginPage-left .register-here a{ 
        color: #00A1B6;
        font-weight: 400;
}
.loginPage-left p{ 
    font-size: 17px;
    color: #868686;
    text-align: center;
}
.loginPage-left img{ 
    width: 500px;
}
.loginPage-right{
    background-image: url('../../assets/loginBG.png');
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.form{
    background-color: #fff;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0px 1px 50px 0px #4F4F4F33;
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.form .form-heading{
    text-align: center;
}
.form form{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    width: 100%;
}

.form form label{
    width: 80%;
    margin-left: auto;
   margin-right: auto;
   margin-top: 10px;
}
.form form label input[type=email],input[type=text ] ,[type=message ] ,[type=password]{
    width:  100%;
    padding: 5px 10px;
    border-radius: 5px;
    border: 1px solid grey;

}
/* ____________ */
.dislodged-border {
    background: #00A1B6;
    color: #fff;
    display: inline-block;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    padding: 7px 20px ;
    position: relative;
    text-decoration: none;
    margin-left: auto;
    margin-right: auto;
}
.dislodged-border:hover {
    cursor: pointer;
    z-index: 2;
    background: #00899B;
  }
  .dislodged-border:before {
    border: 2px solid #00A1B6;
    content: "";
    display: block;
    height: 100%;
    position: absolute;
    width: 100%;
    top: 4px;
    left: 4px;
    z-index: 0;
  }
    .dislodged-border:before:hover {
        background: #00899B;
    border: 2px solid #00899B;

    }

    .with-google{
        border: 1px solid rgb(164, 181, 183);
        border-radius: 2px;
        padding:5px 15px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-left: auto;margin-right: auto;
        font-family: 'Montserrat', sans-serif;
        font-size: 15px;
    }
    .with-google img{
        width: 20px;
    }
    .with-google:hover{
        cursor: pointer;
        background-color: rgb(239, 252, 255);
    }
/* ____________ */

@media only screen and (max-width: 1050px) {

.loginPage-left img{ 
    width: 400px;
}
}
@media only screen and (max-width: 900px) {
    
    .loginPage-left img{ 
        width: 300px;
    }
    .form {
        width: 85%;
        margin-top: 1rem;
    }  
    .form form label{
        width: 95%;
    }

}

@media only screen and (max-width: 576px) {

    .loginPage-left{
        margin-top: 2rem;
        order: 2 ;
    }

    .loginPage-left img{ 
        width: 300px;
    }
    .loginPage-right{
        justify-content: center;
        padding: 2rem 0;
        order: 1;
    }
    
.form {
    width: 85%;
}   
.form form label{
    width: 100%;
}
}

